
body  {
    width:100%;
    height:100%;
    margin:auto;
    background-image: url("http://i.giphy.com/3tzCu8tIfT9Re.gif");
    background-repeat:no-repeat;
    background-color: #cccccc;
    color:white;
    font-family:'Helvetica';
    font-size:2em;
    text-align:center;
    
}
