
body  {
    margin:auto;
    padding:10px;
    background-image: url("http://i.giphy.com/3tzCu8tIfT9Re.gif");
    background-repeat:none;
    background-color: #cccccc;
    color:white;
    font-family:'Helvetica';
    font-size:2em;
    text-align:center;
    
}
